<section>
    <div>
        <input class="margin" type="input" value="{{margin}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
        <div class="actors" data-side="left">
            <h3>Actors Left:</h3>
            {{#each actorsLeft as |actor|}}
            <div class="cutscene-dialog-actor actor" draggable="true" data-actor-id="{{actor._id}}"
                data-side="{{actor.side}}">
                <img class="cutscene-dialog-actor" src="{{actor.img}}" alt="{{actor.name}}">
                <div class="cutscene-dialog-actor-name">{{actor.name}}</div>
                <input type="checkbox" data-actor-index="{{@index}}" data-actor-side="{{actor.side}}"
                    class="cutscene-dialog-actor-active" {{checked actor.active}} />
                <button class="delete-actor"><i class="fa fa-trash"></i></button>
            </div>
            {{/each}}
        </div>
        <div class="actors" data-side="right">
            <h3>Actors Right:</h3>
            {{#each actorsRight as |actor|}}
            <div class="cutscene-dialog-actor actor" draggable="true" data-actor-id="{{actor._id}}"
                data-side="{{actor.side}}">
                <img class="cutscene-dialog-actor" src="{{actor.img}}" alt="{{actor.name}}">
                <div class="cutscene-dialog-actor-name">{{actor.name}}</div>
                <input type="checkbox" data-actor-index="{{@index}}" data-actor-side="{{actor.side}}"
                    class="cutscene-dialog-actor-active" {{checked actor.active}} />
                <button class="delete-actor"><i class="fa fa-trash"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="flexrow">
        <button class="hide-cutscene">Hide</button>
        <button class="show-cutscene">Show</button>
    </div>
</section>