<section class="cutscene-region" {{#if hidden}}style="visibility: hidden;"{{/if}}>
    <div class="cutscene-actors" style="padding-left: {{padding}}em; padding-right: {{padding}}em">
        <div class="left-side-actors items">
            {{#each actorsLeft as |actor|}}
            <img class="cutscene-actor {{#if actor.active}}active{{/if}}" style="margin: 0px {{../margin}}em" src="{{actor.img}}" alt="{{actor.name}}">
            {{/each}}
        </div>
        <div class="right-side-actors items">
            {{#each actorsRight as |actor|}}
            <img class="cutscene-actor {{#if actor.active}}active{{/if}}" style="margin: 0px {{../margin}}em" src="{{actor.img}}" alt="{{actor.name}}">
            {{/each}}
        </div>
    </div>
    <div class="cutscene-footer"></div>
</section>