.cutscene-actors {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: calc(100vw - var(--sidebar-width));
}

.cutscene-region {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.cutscene-footer {
    position: absolute;
    bottom: 0px;
    height: 30vh;
    width: calc(100vw - var(--sidebar-width));
    z-index: 20;
    background: linear-gradient(0, black, transparent);
}

.left-side-actors, .right-side-actors {
    height: 70vh;;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
}

.right-side-actors {
    transform: rotateY(180deg);
}

.cutscene-actor {
    border: none;
    max-width: fit-content;
    transform-origin: bottom;
}

.cutscene-actor.active {
    z-index: 10;
}

.cutscene-actor:not(.active) {
    transform: scale(.8);
}

.actors {
    min-height: 200px;
}

.cutscene-dialog-actor {
    max-width: 40px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.cutscene-dialog-actor-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 3px;
}